In [1]:
# using starred expression while defining function
# advatage: a function which can accept variable number of parameters
def f(*params):
    print(params)

In [2]:
f(10)

(10,)

In [3]:
f(10, 20)

(10, 20)

In [4]:
f(10,20, 30, 40)

(10, 20, 30, 40)

In [6]:
def ff(**kwargs):
    print(kwargs)

In [7]:
ff(a=20, b=10)

{'a': 20, 'b': 10}

In [8]:
ff(10, 20)

TypeError: ff() takes 0 positional arguments but 2 were given

In [9]:
def ff1(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

In [10]:
ff1(10, 20, a=30, b=60)

args: (10, 20)
kwargs: {'a': 30, 'b': 60}

In [11]:
def sq(n):
    return n**2

In [12]:
def mod(a, b):
    return a%b

## above two functions are one line functions (having only return expression)

### Lambda expression
- a special syntaxto define one line function

In [13]:
sq = lambda n :n ** 2

In [15]:
sq(2)

4

In [16]:
mod=lambda a,b: a%b

In [14]:
sq(2)

4

In [17]:
mod(11, 7)

4

In [18]:
nos = [2, 3, 4, 5, 6]

In [58]:
def oper(plist, operation):
    l = []
    for v in plist:
        value=operation(v)
        l.append(value)
    return l

In [59]:
ff = lambda a: a**3

In [60]:
ff(2)

8

In [61]:
oper(nos, ff)

[8, 27, 64, 125, 216]

In [64]:
l1

[4, 9, 16, 25, 36]

In [66]:
def oper(plist, operation):
    l = []
    for v in plist:
        value=operation(v)
        l.append(v**2)
    return l

In [67]:
def sq(n):
    return n ** 2

In [68]:
nos

[2, 3, 4, 5, 6]

In [69]:
l1=oper(nos, sq ) # passing a function ('sq') to 'oper'

In [70]:
l1

[4, 9, 16, 25, 36]

In [41]:
def tenadd(n):
    return n+10

In [42]:
l2=oper(nos, tenadd)

In [43]:
l2

[4, 9, 16, 25, 36]