In [1]:
import pandas as pd
import numpy as np

In [2]:
d={'john':90, 'tom':95, 'julia':90}

In [3]:
d['john']

90

In [4]:
ser=pd.Series( [90,95,90] , index=['john','tom','julia']) # creating object of series class

In [5]:
type(ser)

pandas.core.series.Series

In [6]:
ser

john     90
tom      95
julia    90
dtype: int64

In [7]:
ser['john'] # index used

90

In [8]:
ser[0] # subscript used

90

In [9]:
ser['julia']

90

In [10]:
ser[-1]

90

In [11]:
ser['robert']=80

In [12]:
ser

john      90
tom       95
julia     90
robert    80
dtype: int64

In [13]:
d

{'john': 90, 'julia': 90, 'tom': 95}

In [14]:
for var in d:
  print(var)

john
tom
julia

In [15]:
for var in ser:
  print(var)

90
95
90
80

In [16]:
ser

john      90
tom       95
julia     90
robert    80
dtype: int64

In [17]:
d

{'john': 90, 'julia': 90, 'tom': 95}

In [18]:
ser.shape

(4,)

In [19]:
ser.shape[0]

4

In [20]:
len(ser)

4

In [21]:
arr=ser.values # IMPORTANT

In [22]:
arr

array([90, 95, 90, 80])

In [23]:
type(arr)

numpy.ndarray

In [24]:
ser.index.values # IMPORTANT

array(['john', 'tom', 'julia', 'robert'], dtype=object)

In [26]:
ser=pd.Series( [90,95,90 ]) # INDEX IS NOT PASSED

In [27]:
ser[0]

90

In [31]:
ser.index.values

array([0, 1, 2])

In [30]:
arr=np.random.randint(low=10, high=40, size=5)

In [33]:
ser=pd.Series(arr)

In [34]:
ser

0    22
1    19
2    21
3    27
4    18
dtype: int64

In [37]:
arr=np.random.randint(low=10, high=40, size=6)

In [38]:
ser

0    22
1    19
2    21
3    27
4    18
dtype: int64

In [39]:
ser=pd.Series( [90,95,90,85,80] , index=['john','tom','julia','robert','judith'])

In [40]:
ser

john      90
tom       95
julia     90
robert    85
judith    80
dtype: int64

In [41]:
ser=ser.reindex(['tom','john','julia','robert','judith'])

In [42]:
ser

tom       95
john      90
julia     90
robert    85
judith    80
dtype: int64

In [43]:
ser=ser.reindex(['john', 'julia', 'judith']) # removrs 'robert' and 'tom'

In [44]:
ser

john      90
julia     90
judith    80
dtype: int64

In [45]:
ser=pd.Series( [90,95,90,85,80] , index=['john','tom','julia','robert','judith'])

In [46]:
ser=ser.reindex(['tom','john','julia','robert','judith','cruise','depp']) # 'cruise' and 'depp' -> new index

In [47]:
ser

tom       95.0
john      90.0
julia     90.0
robert    85.0
judith    80.0
cruise     NaN
depp       NaN
dtype: float64

In [48]:
ser['cruise']=78

In [49]:
ser

tom       95.0
john      90.0
julia     90.0
robert    85.0
judith    80.0
cruise    78.0
depp       NaN
dtype: float64

In [50]:
ser=pd.Series( [90,95,90,85,80] , index=['john','tom','julia','robert','judith'])

In [51]:
ser.sum()

440

In [52]:
ser.max()

95

In [53]:
ser.min()

80

In [54]:
ser.mean()

88.0

In [56]:
ser.median()

90.0

In [57]:
ser.var()

32.5

In [58]:
ser.std()

5.70087712549569

In [59]:
ser.quantile(q=0.25)

85.0

In [60]:
ser

john      90
tom       95
julia     90
robert    85
judith    80
dtype: int64

In [61]:
ser.sort_values() # important

judith    80
robert    85
john      90
julia     90
tom       95
dtype: int64

In [62]:
ser.quantile(q=.35)

87.0

In [63]:
ser

john      90
tom       95
julia     90
robert    85
judith    80
dtype: int64

In [64]:
ser1=ser+10

In [65]:
ser1

john      100
tom       105
julia     100
robert     95
judith     90
dtype: int64

In [66]:
ser1=pd.Series( [95,90,90,85,80] , index=['tom','john','julia','bill','trump'])

In [67]:
ser1

tom      95
john     90
julia    90
bill     85
trump    80
dtype: int64

In [68]:
ser

john      90
tom       95
julia     90
robert    85
judith    80
dtype: int64

In [69]:
ser3=ser+ser1

In [70]:
ser3

bill        NaN
john      180.0
judith      NaN
julia     180.0
robert      NaN
tom       190.0
trump       NaN
dtype: float64

# 'NaN' / missing value if present then ML code will CRASH !!!!
- remove all missing values (NaN)
- replace all missing values by some other value 
- dropna() , removes all missing values
- fillna() , replaces  missing values with some other value
- isna() , check whether series has missing values

In [71]:
ser4=ser3.dropna() # removes all missing values

In [72]:
ser3

bill        NaN
john      180.0
judith      NaN
julia     180.0
robert      NaN
tom       190.0
trump       NaN
dtype: float64

In [73]:
ser4

john     180.0
julia    180.0
tom      190.0
dtype: float64

In [74]:
ser4=ser3.fillna(value=0)

In [75]:
ser4

bill        0.0
john      180.0
judith      0.0
julia     180.0
robert      0.0
tom       190.0
trump       0.0
dtype: float64

In [76]:
avg=ser3.mean()

In [77]:
avg

183.33333333333334

In [78]:
ser4=ser3.fillna(avg)

In [79]:
ser4

bill      183.333333
john      180.000000
judith    183.333333
julia     180.000000
robert    183.333333
tom       190.000000
trump     183.333333
dtype: float64

In [80]:
ser3

bill        NaN
john      180.0
judith      NaN
julia     180.0
robert      NaN
tom       190.0
trump       NaN
dtype: float64

In [81]:
boolser=ser3.isna()

In [82]:
boolser

bill       True
john      False
judith     True
julia     False
robert     True
tom       False
trump      True
dtype: bool

In [83]:
boolser.sum()

4

In [84]:
ser4

bill      183.333333
john      180.000000
judith    183.333333
julia     180.000000
robert    183.333333
tom       190.000000
trump     183.333333
dtype: float64

In [85]:
ser4.isna().sum()

0

# DataFrame : 2D
- just like SQL table

In [86]:
arr2d=np.random.randint(low=10,high=40,size=(4,3))

In [87]:
arr2d

array([[29, 16, 30],
       [37, 26, 39],
       [21, 11, 23],
       [11, 31, 37]])

In [88]:
df=pd.DataFrame(arr2d) # creates very simple(completly useless) dataframe !!!

In [89]:
df

    0   1   2
0  29  16  30
1  37  26  39
2  21  11  23
3  11  31  37

In [90]:
type(df)

pandas.core.frame.DataFrame

In [91]:
df=pd.DataFrame(arr2d,columns=["col1",'col2','col3'])

In [92]:
df

   col1  col2  col3
0    29    16    30
1    37    26    39
2    21    11    23
3    11    31    37

In [93]:
df['col1']

0    29
1    37
2    21
3    11
Name: col1, dtype: int64

In [94]:
df['col3']

0    30
1    39
2    23
3    37
Name: col3, dtype: int64

In [95]:
df[['col1', 'col3']]

   col1  col3
0    29    30
1    37    39
2    21    23
3    11    37

In [96]:
df

   col1  col2  col3
0    29    16    30
1    37    26    39
2    21    11    23
3    11    31    37

In [97]:
df=pd.DataFrame(arr2d,columns=["col1",'col2','col3'],index=['r1','r2','r3','r4'])

In [98]:
df

    col1  col2  col3
r1    29    16    30
r2    37    26    39
r3    21    11    23
r4    11    31    37

## DataFrame has row as well as column index !!!!

In [99]:
type(df['col1'])

pandas.core.series.Series

In [100]:
rollno=['r1','r2','r3','r4']
names=pd.Series(['john','tom','smith','julia'],index=rollno)
math=pd.Series([70,80,90,95],index=rollno)
phy=pd.Series([77,70,67,80],index=rollno)

In [101]:
d={'sname':names,'math':math,'phy':phy}

In [102]:
df=pd.DataFrame(d)

In [103]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   67
r4  julia    95   80

In [104]:
df['sname'] # using column index

r1     john
r2      tom
r3    smith
r4    julia
Name: sname, dtype: object

In [105]:
df.info() # see the dataframe structure

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, r1 to r4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sname   4 non-null      object
 1   math    4 non-null      int64
 2   phy     4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes

### how for loop works with dataframe 
- retrievs all column names

In [106]:
for v in df:
    print(v)

sname
math
phy

In [107]:
ser=pd.Series( [90,95,90,85,80] , index=['john','tom','julia','robert','judith'])

In [108]:
ser.values

array([90, 95, 90, 85, 80])

In [109]:
ser.index.values

array(['john', 'tom', 'julia', 'robert', 'judith'], dtype=object)

In [110]:
df.values

array([['john', 70, 77],
       ['tom', 80, 70],
       ['smith', 90, 67],
       ['julia', 95, 80]], dtype=object)

In [111]:
df.columns.values # get all column names as numpy array

array(['sname', 'math', 'phy'], dtype=object)

In [112]:
df.index.values # get all row indexes as numpy array

array(['r1', 'r2', 'r3', 'r4'], dtype=object)

In [113]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   67
r4  julia    95   80

## to access value :
- df.loc[row index,col index]
- df.iloc[ row number,col number]

In [114]:
df.loc['r2','sname']

'tom'

In [115]:
df.loc['r4','math']

95

In [116]:
df.iloc[3, 2]

80

In [117]:
df.iloc[2, 2]=75

In [118]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   75
r4  julia    95   80

## boolean indexing returns rows from dataframe

In [119]:
boolarr=np.array([True,False,True,False])

In [120]:
df[ boolarr ] # size of boolarr MUST be equal to number of rows in dataframe

    sname  math  phy
r1   john    70   77
r3  smith    90   75

In [121]:
boolarr=np.array([False,True,True,False])
df[boolarr]

    sname  math  phy
r2    tom    80   70
r3  smith    90   75

### find all records where math > 80

In [122]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   75
r4  julia    95   80

In [123]:
bools=df['math']>80 # vectorization works

In [124]:
bools

r1    False
r2    False
r3     True
r4     True
Name: math, dtype: bool

In [125]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   75
r4  julia    95   80

In [126]:
df[bools]

    sname  math  phy
r3  smith    90   75
r4  julia    95   80

In [127]:
df1=df[ df['math'] > 80 ] # select * from df where math > 80

In [128]:
df1['phy']

r3    75
r4    80
Name: phy, dtype: int64

In [129]:
df[df['math'] > 80][['phy', 'sname']]

    phy  sname
r3   75  smith
r4   80  julia

In [130]:
df[ df['sname']=='john']

   sname  math  phy
r1  john    70   77

In [131]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   75
r4  julia    95   80

In [132]:
(df['math']>80) & (df['phy']>76)

r1    False
r2    False
r3    False
r4     True
dtype: bool

In [133]:
df[ (df['math']>80) & (df['phy']>76)  ]

    sname  math  phy
r4  julia    95   80

## adding new column to a dataframe

In [134]:
df

    sname  math  phy
r1   john    70   77
r2    tom    80   70
r3  smith    90   75
r4  julia    95   80

In [135]:
df['math']+df['phy']  # also vectorization and generates a new series

r1    147
r2    150
r3    165
r4    175
dtype: int64

In [136]:
df['total']=df['math']+df['phy']   # 'total' : a new column name

In [138]:
df['test']=100

In [139]:
df

    sname  math  phy  total  test
r1   john    70   77    147   100
r2    tom    80   70    150   100
r3  smith    90   75    165   100
r4  julia    95   80    175   100

## droping/deleting a column / row from a dataframe
- deleting is done using index
- drop()

In [140]:
df1=df.drop('r4') # droping a record whose index is 'r4'

In [141]:
df1=df.drop('test',axis=1) # droping a columns named 'test' , axis=1 instructs to search on column direction

In [142]:
df1

    sname  math  phy  total
r1   john    70   77    147
r2    tom    80   70    150
r3  smith    90   75    165
r4  julia    95   80    175

In [144]:
sdf=pd.read_csv('data/students.csv')

In [145]:
sdf

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,exclusion_type,act_composite,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,John,Doe,01/2000,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,05/2001,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,NaN,14.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,Davis,31/2001,White,F,FTFT,Fall 2007,NaN,22.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,01/2002,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,01/2000,White,F,FTFT,Fall 2007,NaN,25.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,NaN,21.0,...,NaN,2.54,Denver,Colorado,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,04/1998,White,F,FTFT,Fall 2007,NaN,15.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
type(sdf)

pandas.core.frame.DataFrame

In [148]:
adf=pd.read_csv('data/advertising.csv')

In [149]:
adf.shape[0]

200

In [151]:
adf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   srno       200 non-null    int64
 1   TV         200 non-null    float64
 2   radio      200 non-null    float64
 3   newspaper  200 non-null    float64
 4   sales      200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [152]:
adf[:5] # see first 5 records of the data frame

   srno     TV  radio  newspaper  sales
0     1  230.1   37.8       69.2   22.1
1     2   44.5   39.3       45.1   10.4
2     3   17.2   45.9       69.3    9.3
3     4  151.5   41.3       58.5   18.5
4     5  180.8   10.8       58.4   12.9

In [153]:
adf[-5:] # last 5 records of the data frame

     srno     TV  radio  newspaper  sales
195   196   38.2    3.7       13.8    7.6
196   197   94.2    4.9        8.1    9.7
197   198  177.0    9.3        6.4   12.8
198   199  283.6   42.0       66.2   25.5
199   200  232.1    8.6        8.7   13.4

In [154]:
adf[100:105] # see middle 5 records

     srno     TV  radio  newspaper  sales
100   101  222.4    4.3       49.8   11.7
101   102  296.4   36.3      100.9   23.8
102   103  280.2   10.1       21.4   14.8
103   104  187.9   17.2       17.9   14.7
104   105  238.2   34.3        5.3   20.7

In [155]:
adf['total']=adf['TV']+adf['radio']+adf['newspaper']

In [156]:
adf[:5]

   srno     TV  radio  newspaper  sales  total
0     1  230.1   37.8       69.2   22.1  337.1
1     2   44.5   39.3       45.1   10.4  128.9
2     3   17.2   45.9       69.3    9.3  132.4
3     4  151.5   41.3       58.5   18.5  251.3
4     5  180.8   10.8       58.4   12.9  250.0

In [157]:
adf=adf.drop('total',axis=1)

In [158]:
adf[:5]

   srno     TV  radio  newspaper  sales
0     1  230.1   37.8       69.2   22.1
1     2   44.5   39.3       45.1   10.4
2     3   17.2   45.9       69.3    9.3
3     4  151.5   41.3       58.5   18.5
4     5  180.8   10.8       58.4   12.9

In [159]:
sdf=pd.read_csv('data/performance.csv')

In [160]:
sdf[:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## how to assign new column names to an existing data frame

In [161]:
newcolumns=['gender','race','pedu','lunch','prep','math','read','write']

In [162]:
sdf.columns=newcolumns

In [163]:
sdf[:5]

,gender,race,pedu,lunch,prep,math,read,write
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [164]:
# find all 'female' students
sdf_female=sdf[sdf['gender']=='female']

In [165]:
sdf_female[:10]

,gender,race,pedu,lunch,prep,math,read,write
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
9,female,group B,high school,free/reduced,none,38,60,50
12,female,group B,high school,standard,none,65,81,73
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
17,female,group B,some high school,free/reduced,none,18,32,28

In [166]:
sdf['race'].unique() # finds all unique values , sdf['race'] --> Series

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [167]:
sdf['pedu'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [168]:
sdf['race'].value_counts() # giving counts/freq of each unique values

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race, dtype: int64

In [169]:
sdf['prep'].value_counts()/sdf.shape[0] # find percentage

none         0.642
completed    0.358
Name: prep, dtype: float64

In [170]:
sdf.shape[0]

1000

In [171]:
sdf[:5]

,gender,race,pedu,lunch,prep,math,read,write
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [172]:
sdf['math'].mean() #

66.089

In [173]:
sdfcompleted=sdf[sdf['prep']=='completed'] # getting all students records who has completed preparoty course

In [174]:
sdfcompleted['math'].mean() # average marks who completed prep course

69.69553072625699

In [175]:
sdf[sdf['prep']=='completed']['math'].mean() # 70

69.69553072625699

In [176]:
sdf[sdf['prep']=='none']['math'].mean() # 64

64.0778816199377

In [177]:
# get all female students who has completed preparatory course
sdf[ (sdf['prep']=='completed') & (sdf['gender']=='female') ]['math'].mean()

67.19565217391305

In [179]:
sdf[ (sdf['prep']=='none') & (sdf['gender']=='female') ]['math'].mean()

61.67065868263473

In [180]:
sdf[ (sdf['prep']=='completed') & (sdf['gender']=='male') ]['math'].mean()

72.33908045977012

In [181]:
sdf[ (sdf['prep']=='none') & (sdf['gender']=='male') ]['math'].mean()

66.68831168831169

In [182]:
adf

     srno     TV  radio  newspaper  sales
0       1  230.1   37.8       69.2   22.1
1       2   44.5   39.3       45.1   10.4
2       3   17.2   45.9       69.3    9.3
3       4  151.5   41.3       58.5   18.5
4       5  180.8   10.8       58.4   12.9
..    ...    ...    ...        ...    ...
195   196   38.2    3.7       13.8    7.6
196   197   94.2    4.9        8.1    9.7
197   198  177.0    9.3        6.4   12.8
198   199  283.6   42.0       66.2   25.5
199   200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [183]:
sdf[:5]

,gender,race,pedu,lunch,prep,math,read,write
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [184]:
sdf.shape

(1000, 8)

## getting answers to these question by analysing data is known as Exploratory Data Analysis(EDA)

In [185]:
sdf[sdf['prep']=='completed']['math'].mean() # 69.7

69.69553072625699

In [186]:
sdf[sdf['prep']=='none']['math'].mean() #64.07

64.0778816199377

# from the above anaylsis we find prepatory course has minor influence in getting better marks in math but it is insignificant

In [187]:
# get all female students who has completed preparatory course
sdf[ (sdf['prep']=='completed') & (sdf['gender']=='female') ]['math'].mean()

67.19565217391305

In [188]:
sdf[ (sdf['prep']=='completed') & (sdf['gender']=='male') ]['math'].mean()

72.33908045977012

In [189]:
sdf[ (sdf['prep']=='none') & (sdf['gender']=='female') ]['math'].mean()

61.67065868263473

In [190]:
sdf[ (sdf['prep']=='none') & (sdf['gender']=='male') ]['math'].mean()

66.68831168831169

In [191]:
sdf.pivot_table(values='math',index='prep',columns='gender')

gender        female       male
prep
completed  67.195652  72.339080
none       61.670659  66.688312

In [192]:
sdf['pedu'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [193]:
sdf.pivot_table(values='math',index='pedu',columns='gender')

gender                 female       male
pedu
associate's degree  65.250000  70.764151
bachelor's degree   68.349206  70.581818
high school         59.351064  64.705882
master's degree     66.500000  74.826087
some college        65.406780  69.009259
some high school    59.296703  67.840909

## from above we can observe that male student whose parents education is master's , they getting benefitted

In [194]:
sdf.pivot_table(values='math',index='pedu',columns='prep')

prep                completed       none
pedu
associate's degree  71.829268  65.571429
bachelor's degree   73.282609  66.902778
high school         65.000000  60.992857
master's degree     70.600000  69.307692
some college        71.454545  64.892617
some high school    66.701299  61.078431