In [2]:
l1 = [10, 5, 2, 40]

In [3]:
type(l1)

list

In [4]:
l1 = [ 10, 'python', 3.45, True]

In [5]:
l1

[10, 'python', 3.45, True]

In [6]:
type(l1)

list

In [10]:
l1 = [10, [2, 3] ,[45, 56, 78], 5] #Contains list as element (nested list)

In [11]:
type(l1)

list

In [12]:
l1 = [10, 5, 2, 40, 35, 50, 1, 9] #syntaxes are like arrays

## two types of indexing
- forward index
-last one inidex

In [13]:
l1[0]

10

In [14]:
l1[0] = 30

In [15]:
l1

[30, 5, 2, 40, 35, 50, 1, 9]

In [16]:
l1[2]

2

In [17]:
l1[-2]

1

In [18]:
l1

[30, 5, 2, 40, 35, 50, 1, 9]

In [21]:
l1[2:5] #slice

[2, 40, 35]

In [22]:
l1[4:8]

[35, 50, 1, 9]

In [24]:
l1[:3] #[:stop], : stsrt by defaultis zero

[30, 5, 2]

In [25]:
l1[6:]

[1, 9]

In [26]:
l1

[30, 5, 2, 40, 35, 50, 1, 9]

In [29]:
l1[-3:] #backindexing while slicing

[50, 1, 9]

In [30]:
l1[:]

[30, 5, 2, 40, 35, 50, 1, 9]

In [31]:
l1 = []

In [32]:
l1 = list() # this creates a blak list, but it also converts any other ds into list

In [34]:
l1 = [20, 30, 1, 2, 50, 48, 78]

In [35]:
type(l1)

list

## 'l1' is OBJECT of class LIST

In [36]:
l1

[20, 30, 1, 2, 50, 48, 78]

In [37]:
l1.append(100) # appending new data at last index

In [38]:
l1

[20, 30, 1, 2, 50, 48, 78, 100]

In [39]:
l1.insert(1, 20)

In [40]:
l1

[20, 20, 30, 1, 2, 50, 48, 78, 100]

In [41]:
l1.insert(-1, 500)

In [42]:
l1

[20, 20, 30, 1, 2, 50, 48, 78, 500, 100]

In [43]:
l2 = [4000, 1000, 200]

In [44]:
l1.append(l2)

In [45]:
l1

[20, 20, 30, 1, 2, 50, 48, 78, 500, 100, [4000, 1000, 200]]

In [46]:
l3= [400, 8000]

In [47]:
l1.extend(l3)

In [48]:
l1

[20, 20, 30, 1, 2, 50, 48, 78, 500, 100, [4000, 1000, 200], 400, 8000]

In [49]:
l1.remove(8000)

In [50]:
l1.remove(8000)

ValueError: list.remove(x): x not in list

In [53]:
8000 in l1 #'in' is keyword

False

In [54]:
len(l1)

12

In [55]:
l1 = [10, 5, 12, 8, 2]

In [56]:
sortedl1 = sorted(l1)

In [57]:
sortedl1

[2, 5, 8, 10, 12]

In [58]:
l1

[10, 5, 12, 8, 2]

In [59]:
sortedl2 = sorted(l1, reverse=True)

In [60]:
sortedl2

[12, 10, 8, 5, 2]

In [61]:
l1.sort() #inplace sorting

In [62]:
l1

[2, 5, 8, 10, 12]

In [63]:
l1.sort(reverse=True)

In [64]:
l1

[12, 10, 8, 5, 2]

In [65]:
al = [10, 20, 30]
bl = [1000, 2000, 3000]

In [66]:
cl = al + bl

In [67]:
cl

[10, 20, 30, 1000, 2000, 3000]

In [69]:
c2 = al * 3

In [70]:
c2

[10, 20, 30, 10, 20, 30, 10, 20, 30]

## TUPLE : (read only list)

In [71]:
t1 = (10, 20, 30)

In [73]:
type(t1)

tuple

In [74]:
t1[0]

10

In [75]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [76]:
for v in t1:
    print(v)

10
20
30

In [77]:
t1 = (10) # create a int varable not tuple

In [78]:
type(t1)

int

In [79]:
t1 = (10,)

In [80]:
type(t1)

tuple

## tuple of one element -- > singleton

In [83]:
t1 = 10, 20, 30

In [88]:
type(t1)

tuple

In [82]:
x1 = t1[0]
y1 = t1[1]
z1 = t1[2]

tuple

In [84]:
x, y, z = t1 #x=t1[0], ....,, tuple unpacking

In [85]:
x

10

In [86]:
t1[0]

10

In [87]:
type(t1)

tuple

In [90]:
a = 8
b = 6

In [91]:
t = a
a = b 
b = t

In [92]:
a

6

In [93]:
b

8

In [94]:
a = 10
b = 5
t = a, b #created a tuple
b, a = t

In [95]:
a

5

In [96]:
b

10

In [98]:
a = 1000
b = 500
b, a = a, b

In [99]:
a

500

In [100]:
b

1000

In [101]:
t1

(10, 20, 30)

In [102]:
l1 = list(t1)

In [103]:
l1

[10, 20, 30]

In [104]:
l1.append(40)

In [105]:
l1

[10, 20, 30, 40]

In [106]:
t1 = tuple(l1)

In [107]:
t1

(10, 20, 30, 40)