## how to write function in python
- define the function
- call the function

## to define function: def(keyword)

In [1]:
# function defining 
def adder(f, s):
    r = f + s
    return r

In [2]:
v1 = 10
v2 = 20
adder(10,20)

30

In [3]:
adder(s=10, f=5) # keyword argument style

15

In [4]:
def myfunc(roll, name, marks):
    record=str(roll)+":"+name+":"+str(marks)
    return record

In [5]:
rec = myfunc(10, "john", 90)

In [6]:
rec

'10:john:90'

In [7]:
rec = myfunc(marks=90.5, roll=10, name="tom")   #keyword argument style

In [8]:
rec

'10:tom:90.5'

In [9]:
rec=myfunc(marks=90.5, roll=10)

TypeError: myfunc() missing 1 required positional argument: 'name'

In [1]:
def adder(a, b, c=10, d=10, e=10):
    r=a+b+c+d+e
    return r

In [2]:
adder(10, 20)

60

In [3]:
adder(b=20,a=10,c=20)

70

## a function can be treated like an object in Python
- a function can be passed to another function
- a funtion can be returnrened from another function

In [4]:
s='this is python'

In [5]:
s1='''this is python
this is interpreted
came around 1980'''

In [6]:
s1

'this is python\nthis is interpreted\ncame around 1980'

In [7]:
print(s1)

this is python
this is interpreted
came around 1980

In [8]:
# doc string
def adder(a,b,c=10,d=10,e=10):
    '''
    this is a function to add
    accepts 5 parameters
    '''
    r=a+b+c+d+e
    return r

In [9]:
print(adder.__doc__)

    this is a function to add
    accepts 5 parameters

In [10]:
print(s1.split.__doc__)

Return a list of the words in the string, using sep as the delimiter string.

  sep
    The delimiter according which to split the string.
    None (the default value) means split according to any whitespace,
    and discard empty strings from the result.
  maxsplit
    Maximum number of splits to do.
    -1 (the default value) means no limit.

In [11]:
??s1.split

In [12]:
def adder(a,b,c=10,d=10,e=10):
    '''
    this is a function to add
    accepts 5 parameters
    '''
    r=a+b+c+d+e
    return r

In [13]:
params = list(range(100, 105))

In [14]:
params

[100, 101, 102, 103, 104]

In [15]:
adder(params[0], params[1], params[2])

323

In [16]:
# if all your parameter values are stored in a list

In [17]:
adder(*params) # this style will only work when you call function . will not work outside

510

## starred expression can be only during function calling or defining

In [18]:
 *params

SyntaxError: can't use starred expression here (<ipython-input-18-9939f8d9eac5>, line 1)

In [19]:
def myfunc(roll,name,marks):
    record=str(roll)+":"+name+":"+str(marks)
    return record

In [20]:
myfunc(name='john',marks=80,roll=10)

'10:john:80'

In [21]:
p=[10,'john',90]

In [22]:
myfunc(*p) #myfunc(p[0],p[1],p[2])

'10:john:90'

In [23]:
pd={'name':'john','roll':10,'marks':90}

In [24]:
myfunc(**pd) # if parameter values are stored in dictionary then double starred expression

'10:john:90'

In [25]:
# using starred expression while defining function
# advantage : a function which can accept variable number of parameters
def f(*args):
    print(args)
    p1=args[0]

In [26]:
f(10)

(10,)

In [27]:
f(10,20)

(10, 20)

In [28]:
f(10,20,30,40)

(10, 20, 30, 40)

In [29]:
def ff(**kwargs):
    print(kwargs)

In [30]:
ff(a=20,b=30)

{'a': 20, 'b': 30}

In [31]:
ff(10,20)

TypeError: ff() takes 0 positional arguments but 2 were given

In [32]:
def ff1(*args,**kwargs):
    print('args',args)
    print('kwargs',kwargs)

In [33]:
ff1(10,20,a=30,b=40)

args (10, 20)
kwargs {'a': 30, 'b': 40}

In [34]:
def sq(n):
    return n**2

In [35]:
def mod(a,b):
    return a%b

## above two function are ONE LINE  functions (having only return "expr")

### LAMBDA expression
- a special syntax to define one line function
- anonymous function

In [36]:
sq = lambda n : n**2

In [37]:
sq(4)

16

In [38]:
sq(2)

4

In [39]:
mod = lambda a,b: a%b

In [40]:
mod(11,7)

4

In [41]:
nos=[2,3,4,5,6]

In [42]:
def oper(plist):
    l=[]
    for v in plist:
        l.append(v**3)
    return l

In [43]:
l1=oper(nos)

In [44]:
l1

[8, 27, 64, 125, 216]

In [45]:
def oper(plist, operation):
    l=[]
    for v in plist:
        value=operation(v) #lambda a : a**2
        l.append(value)
    return l

In [46]:
oper(nos, lambda a : a**5 ) # oper(nos,ff)

[32, 243, 1024, 3125, 7776]

In [47]:
def sq(n):
    return n**2

In [48]:
nos

[2, 3, 4, 5, 6]

In [49]:
l1=oper(nos, sq ) # passing a function ('sq') to 'oper'

In [50]:
l1

[4, 9, 16, 25, 36]

In [51]:
oper(nos, lambda a: a+10)

[12, 13, 14, 15, 16]

In [52]:
oper(nos, lambda v: v%3 )

[2, 0, 1, 2, 0]

In [53]:
nos

[2, 3, 4, 5, 6]

In [54]:
def tenadd(n):
    return n+10

In [55]:
l1=oper(nos,tenadd)

In [56]:
l1

[12, 13, 14, 15, 16]

In [57]:
nos

[2, 3, 4, 5, 6]

## using python prebuilt function == 'map'

In [58]:
obj=map( lambda v : v**2 , nos)

In [59]:
obj # generator object

In [60]:
list(obj)

[4, 9, 16, 25, 36]

In [61]:
l1=list( map( lambda v : v**2 , nos)    )

In [62]:
l1

[4, 9, 16, 25, 36]

In [63]:
import math
l1=list( map( lambda v : round(math.sqrt(v),4) , nos)    )

In [64]:
l1

[1.4142, 1.7321, 2.0, 2.2361, 2.4495]

In [65]:
[ v **2 for v in nos] #comprehension

[4, 9, 16, 25, 36]

### always use 'map' instead of comprehension  , as map use c algorithm(pointre)

In [66]:
agelist=[13,23,15,27,18,28,16]

In [67]:
list ( filter( lambda age : True if age <= 19 else False , agelist ) )

[13, 15, 18, 16]

In [68]:
def check(age):
    return True if age <= 19 else False

In [69]:
check(20)

False

In [70]:
list ( filter( check, agelist ) )

[13, 15, 18, 16]

In [71]:
nos

[2, 3, 4, 5, 6]

In [72]:
sum(nos)

20

In [73]:
import functools
functools.reduce( lambda a,b : a+b  , nos )

20

In [74]:
def adder(a,b):
    return a+b

In [75]:
import functools
functools.reduce( adder  , nos )

20

In [76]:
def prod(a,b):
    return a*b

In [77]:
import functools
functools.reduce( prod  , nos )

720

In [78]:
import functools
functools.reduce( lambda a,b : a*b  , nos )

720

In [79]:
import functools
functools.reduce( lambda a,b : a if a>b else b , nos )

6

In [80]:
import functools
functools.reduce( lambda a,b : a if a<b else b , nos )

2

## 2 ways of returning values from function
- 'return' statement
- 'yield' statement

In [82]:
def demof():
    v=5
    #print('v(inside function):',v)
    yield v # returns value but not control 
    v+=5
    #print('v(inside function):',v)
    yield v
    v+=5
    #print('v(inside function):',v)
    yield v

In [83]:
obj=demof()

In [84]:
type(obj)

generator

###  if a function contains an 'yield' statement , it does not work like a normal function rather it returns a generator object when called

### to execute body of the function , need to call 'next()'[predefined] function

In [85]:
x=next(obj)

In [86]:
x=next(obj)

In [87]:
x=next(obj)

In [88]:
x

15

In [89]:
x=next(obj)

StopIteration:

In [90]:
# preferred way !!!
for var in demof():
    print(var)

5
10
15

In [91]:
list(demof())

[5, 10, 15]

## CLOSURE in python
###  closure is a function containing nested function inside

In [92]:
import math

In [93]:
math.pi

3.141592653589793

In [94]:
# function 'circle()' is a closure
import math
def circle(radius):
    def calcArea():
        return math.pi * radius**2
    def calcPeri():
        return 2*math.pi*radius
    t=calcArea,calcPeri 
    return t

In [95]:
var=circle(5)

In [96]:
f,e=var # tuple unpacking

In [97]:
f() # calling calcArea

78.53981633974483

In [98]:
e() # calling calcPeri

31.41592653589793

In [99]:
type(var)

tuple

In [100]:
var[0]()  # calling calcArea

78.53981633974483

In [101]:
var[1]()

31.41592653589793