In [1]:
s2 = {'saswati', 100, 10, 5, 10}

In [4]:
s2

{10, 100, 5, 'saswati'}

In [5]:
s1 = {10, 20, 30, 40, 50, 60}
s2 = {5, 30, 40, 70, 80, 90}

In [6]:
s3 = s1.union(s2)

In [7]:
s3

{5, 10, 20, 30, 40, 50, 60, 70, 80, 90}

In [8]:
l1 = [10, 3, 5, 10, 5, 3, 10]

In [10]:
s1 = set(l1)

In [11]:
s1

{3, 5, 10}

In [13]:
s3 = s1.intersection(s2)

In [14]:
s3

{5}

In [15]:
s3 = s1.difference(s2)

In [16]:
s3

{3, 10}

## Dictionary

In [17]:
d1 = {10:95, 11:90}

In [18]:
d1

{10: 95, 11: 90}

In [19]:
d1 = {10:95, 11:90, 12:87, 13:96}

In [20]:
d1

{10: 95, 11: 90, 12: 87, 13: 96}

### use key as index

In [21]:
d1[12]

87

In [22]:
d1 = {10:95, 11:90, 12:87, 10:78, 13:96}

In [23]:
d1

{10: 78, 11: 90, 12: 87, 13: 96}

In [24]:
d1 = {10:(78, 90), 11:(90, 81),12:(85, 90), 13:(70, 80)}

In [25]:
d1

{10: (78, 90), 11: (90, 81), 12: (85, 90), 13: (70, 80)}

In [26]:
d1 = {'john':90, 'tom':85, 'robert':95, 'julia':92}

In [27]:
d1['tom']

85

In [28]:
d1['prince'] = 94

In [29]:
d1

{'john': 90, 'tom': 85, 'robert': 95, 'julia': 92, 'prince': 94}

In [30]:
d1['john'] = 80

In [31]:
d1

{'john': 80, 'tom': 85, 'robert': 95, 'julia': 92, 'prince': 94}

In [33]:
for i in d1:
    print(i)

john
tom
robert
julia
prince

In [35]:
for i in d1:
    print(i, "==", d1[i])

john == 80
tom == 85
robert == 95
julia == 92
prince == 94

In [36]:
d2 = {10:(78, 90), 11:(90, 81),12:(85, 90), 13:(70, 80)}

In [38]:
for i in d2:
    print(i, d2[i])

10 (78, 90)
11 (90, 81)
12 (85, 90)
13 (70, 80)

In [39]:
del d1['tom']

In [40]:
d1

{'john': 80, 'robert': 95, 'julia': 92, 'prince': 94}

In [41]:
d1['john']

80

In [42]:
d1['tom']

KeyError: 'tom'

In [43]:
d1

{'john': 80, 'robert': 95, 'julia': 92, 'prince': 94}

In [44]:
k = 'john'

In [45]:
k in d1

True

In [46]:
if k in d1:
    print(d1[k])
else:
    print("Value doesn't exist")

80

In [47]:
d1.keys()

dict_keys(['john', 'robert', 'julia', 'prince'])

In [49]:
list(d1.keys())

['john', 'robert', 'julia', 'prince']

In [50]:
entries = list(d1.items())

In [51]:
entries

[('john', 80), ('robert', 95), ('julia', 92), ('prince', 94)]

In [52]:
for v in entries:
    print(v)

('john', 80)
('robert', 95)
('julia', 92)
('prince', 94)

In [53]:
mylist = [('a', 10), ('b', 10), ('c', 20), ('d', 25)]
#list of tuples
#each tuple is of 2 elements only
# this kind of list cdan be converted into dictionary

In [54]:
d1 = dict(mylist)

In [55]:
d1

{'a': 10, 'b': 10, 'c': 20, 'd': 25}

## useful functions
- enumerate
- zip

In [71]:
l1 = [100, 110, 120, 130]

In [72]:
obj = enumerate(l1)

In [73]:
obj

In [74]:
for v in obj:
    print(v)

(0, 100)
(1, 110)
(2, 120)
(3, 130)

In [77]:
l2=list(obj)

In [78]:
l2

[]

In [79]:
obj=list(enumerate(l1, 1000))

In [80]:
obj

[(1000, 100), (1001, 110), (1002, 120), (1003, 130)]

In [81]:
l1

[100, 110, 120, 130]

In [82]:
d1 = dict(list(enumerate(l1, 500)))

In [83]:
d1

{500: 100, 501: 110, 502: 120, 503: 130}

In [84]:
rolls = [1, 2, 3, 4]
names = ['john', 'tom', 'robert', 'price']
marks= [90, 95, 85, 78]

In [85]:
obj=zip(rolls, names, marks)

In [86]:
obj

In [87]:
list(obj)

[(1, 'john', 90), (2, 'tom', 95), (3, 'robert', 85), (4, 'price', 78)]

In [88]:
l1

[100, 110, 120, 130]

## create a new list which is double the each element to another list

In [89]:
l2 = []
for v in l1:
    l2.append(v*2)

In [90]:
l2

[200, 220, 240, 260]

## comprehension
- creates a new data structure from another data structure

In [91]:
l2 = [v*2 for v in l1]

In [92]:
l2

[200, 220, 240, 260]

In [93]:
import math
l2=[math.sqrt(v) for v in l1]

In [94]:
l2

[10.0, 10.488088481701515, 10.954451150103322, 11.40175425099138]

In [95]:
import math
l2=[round(math.sqrt(v), 4) for v in l1]

In [96]:
l2

[10.0, 10.4881, 10.9545, 11.4018]

In [97]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8]

### create newlist which square of each element of all even data

In [98]:
l2 = [v**2 for v in l1 if v%2==0]

In [99]:
l2

[4, 16, 36, 64]