# Python Data Structures

## 4 readymade data structures
- List ( double linked list )    ---> [  ]
- Tuple ( readonly list) ---> (  )
- Set (math set) --->{  }
- dictionary (key value pairs) ---> { }

### Pyhton has no Array

## List

In [1]:
l1=[5,3,10,4,40,30,2] # double links list is created

In [2]:
type(l1)

list

In [3]:
l2=[5,5.6,[100,200],50]

### List is heterogeneous and non-contiguous

In [4]:
l1[0] # accessing 0 th element

5

In [5]:
l1[3]

4

In [7]:
l1[-1] # back index

2

In [8]:
l1[-2]

30

In [9]:
l1[-2]

30

In [10]:
l2[2]

[100, 200]

In [11]:
l2[2][0]

100

In [12]:
l2[2][1]

200

In [13]:
l1[0]=6

In [14]:
l1

[6, 3, 10, 4, 40, 30, 2]

In [15]:
len(l1) # to get the size of the list(how many elements are there)

7

In [16]:
l3=l1[2:5] # use of slice

In [17]:
l3

[10, 4, 40]

In [18]:
l3[0]

10

In [19]:
l3[0]=20

In [20]:
l1

[6, 3, 10, 4, 40, 30, 2]

In [21]:
l3

[20, 4, 40]

In [22]:
l1[-5:-2]

[10, 4, 40]

In [23]:
l1[:5]

[6, 3, 10, 4, 40]

In [24]:
l1[4:]

[40, 30, 2]

In [25]:
l1

[6, 3, 10, 4, 40, 30, 2]

In [26]:
l1[-4:] # get last 4 data

[4, 40, 30, 2]

In [27]:
l1[:] # from start to end

[6, 3, 10, 4, 40, 30, 2]

In [28]:
l1[:] # from start to end

[6, 3, 10, 4, 40, 30, 2]

## every python data structure is a type of generator object

In [29]:
# below loop gets every element from list 'l1'
for v in l1:
    print(v)

6
3
10
4
40
30
2

In [30]:
for v in l2:
    print(v)

5
5.6
[100, 200]
50

In [31]:
l2

[5, 5.6, [100, 200], 50]

In [32]:
l1

[6, 3, 10, 4, 40, 30, 2]

## searching data in list

In [33]:
l1

[6, 3, 10, 4, 40, 30, 2]

In [34]:
var=45

In [35]:
var in l1 # 'in' is keyword for search

False

In [36]:
var=int(input('Enter value :'))
if var in l1:
    print('value:',var,' exists in the list')
else:
    print('value:',var,' does not exists in the list')

Enter value :8
value: 8  does not exists in the list

## appending new data

In [37]:
l1

[6, 3, 10, 4, 40, 30, 2]

In [38]:
l1.append(50) # adding elwmwnt at the last

In [39]:
l1

[6, 3, 10, 4, 40, 30, 2, 50]

In [40]:
l1.append('abc')

In [41]:
l1

[6, 3, 10, 4, 40, 30, 2, 50, 'abc']

## inserting new data

In [42]:
l1.insert(1,100) # insert 100 before index 1

In [43]:
l1

[6, 100, 3, 10, 4, 40, 30, 2, 50, 'abc']

In [44]:
l1.insert(0, 100)

In [45]:
l1

[100, 6, 100, 3, 10, 4, 40, 30, 2, 50, 'abc']



```
# This is formatted as code
```

## removing/deleting data

In [46]:
l1

[100, 6, 100, 3, 10, 4, 40, 30, 2, 50, 'abc']

In [47]:
l1.remove(30) # value must be present in the list

In [48]:
l1

[100, 6, 100, 3, 10, 4, 40, 2, 50, 'abc']

In [49]:
l1.remove(30) # can not remove element not present in the list

ValueError: list.remove(x): x not in list

In [50]:
var=int(input('Enter value u want to remove:'))
if var in l1:
    l1.remove(var)
    print('value:',var,' removed from the list')
else:
    print('value:',var,' does not exists in the list')

Enter value u want to remove:25
value: 25  does not exists in the list

In [51]:
l1

[100, 6, 100, 3, 10, 4, 40, 2, 50, 'abc']

## 'del' keyword

In [52]:
l1

[100, 6, 100, 3, 10, 4, 40, 2, 50, 'abc']

In [53]:
del l1[-1] # remove value thats there in index '-1'

In [54]:
l1

[100, 6, 100, 3, 10, 4, 40, 2, 50]

In [55]:
del l1[1] # remove value thats there in index '1'

In [56]:
l1

[100, 100, 3, 10, 4, 40, 2, 50]

In [57]:
del l1[1:4]

In [58]:
l1

[100, 4, 40, 2, 50]

#### create a NEW LIST , whose each element is double corresponding element

In [59]:
l11=[] # blank list 
for v in l1:
    l11.append(v*2)
print(l11)

[200, 8, 80, 4, 100]

In [60]:
l3=list( range(2,10) )

In [61]:
l3

[2, 3, 4, 5, 6, 7, 8, 9]

## '+' and '*'

In [62]:
l3=[10,20,30]
l4=[100,200]

In [63]:
l5=l3+l4 # appends 2 list together and creates another larger list

In [64]:
l5

[10, 20, 30, 100, 200]

In [65]:
l3

[10, 20, 30]

In [66]:
l4

[100, 200]

In [67]:
l5=l4*3 # l4 repeated 3 times to create a larger list

In [68]:
l5

[100, 200, 100, 200, 100, 200]

## Tuple -->(  ) [Readonly list] -- can not CHANGE data stored in tuple

In [69]:
t1 = ( 10,20,30 )

In [70]:
t1[0]

10

In [71]:
t1[-1]

30

In [72]:
t1[0]=300  # trying to change content ---- NOT POSSIBLE

TypeError: 'tuple' object does not support item assignment

In [73]:
t1.append(40) # wont work !!!!

AttributeError: 'tuple' object has no attribute 'append'

In [74]:
for v in t1:
    print(v)

10
20
30

In [75]:
t1 =  10 ,'abc',3.4  # use of '( )' is not mandatory

In [76]:
type(t1)

tuple

In [77]:
a=t1[0]
b=t1[1]
c=t1[2]

In [78]:
a,b,c=t1 # tuple unpacking , number of variables and number of values in tuple must be matching

In [79]:
len(t1)

3

In [80]:
a=5
b=10
t=b
b=a
a=t

In [81]:
a

10

In [82]:
b

5

In [83]:
a=5
b=10

In [84]:
# swapping values of two variable !!!
#t1=a,b
# b,a=t1
b,a=a,b

In [85]:
a

10

In [86]:
b

5

In [87]:
l1=[10,20,30]
t2=tuple(l1) # to convert into tuple : 'tuple()'

In [88]:
t2=100,200,300

In [89]:
l1=list( t2 )

In [90]:
l1

[100, 200, 300]

In [91]:
l1.append(400)

In [92]:
t2=tuple( l1 )

In [93]:
t2

(100, 200, 300, 400)

In [94]:
l3=[(10,'john'),(11,'tom'),(12,'robert')] # list of tuples


## Set : (math set) --(no duplicates, no order)

In [95]:
s={10,20,30,40}

In [96]:
type(s)

set

In [97]:
s

{10, 20, 30, 40}

In [98]:
s={10,5,10,7,20,30,20,40,30} # set dows not allows duplicate values

In [99]:
s

{5, 7, 10, 20, 30, 40}

In [102]:
s[0]  #can not use indexing with set

TypeError: 'set' object is not subscriptable

In [103]:
for v in s:
    print(v)

5
7
40
10
20
30

In [104]:
l1=[10,5,10,7,20,30,20,40,30]

In [105]:
s=set( l1 )

In [106]:
s

{5, 7, 10, 20, 30, 40}

In [107]:
l1=list(s)

In [108]:
l1

[5, 7, 40, 10, 20, 30]

### set opertions : union,intersection,minus

In [109]:
s1={10,20,30,40,50}
s2={30,40,70,80,90}

In [110]:
s3=s1.union(s2)

In [111]:
s3

{10, 20, 30, 40, 50, 70, 80, 90}

In [112]:
s3=s1.intersection(s2)

In [113]:
s3

{30, 40}

In [114]:
s3=s1.difference(s2) # difference === minus

In [115]:
s3

{10, 20, 50}

In [116]:
s3=s2.difference(s1)

## dictionary - stores multiple key-value pairs
- values of key column can be used to access value columns(can be used as index)
- key column is something like primary key column

In [117]:
d={'john':90,'tom':75,'smith':85}

In [118]:
type(d)

dict

In [119]:
d

{'john': 90, 'tom': 75, 'smith': 85}

In [120]:
d['john']

90

In [121]:
d['john']=95

In [122]:
d

{'john': 95, 'tom': 75, 'smith': 85}

In [124]:
d['robert'] # using non existent key will give error

KeyError: 'robert'

In [125]:
# seraching if a key is there : 'in'

In [126]:
var='john'
var in d

True

In [127]:
var=input('Enter a name')
if var in d:
    print(d[var])
else:
    print('invalid key')

Enter a namedibyanshu
invalid key

In [128]:
d

{'john': 95, 'tom': 75, 'smith': 85}

In [129]:
d['robert']=95 # assigning value to a non existenent key creates a new key value pair

In [130]:
d

{'john': 95, 'tom': 75, 'smith': 85, 'robert': 95}

In [131]:
d['tom']=90

In [132]:
d

{'john': 95, 'tom': 90, 'smith': 85, 'robert': 95}

In [133]:
# for will always access values from key column
for x in d:
    print(x,'-->',d[x])

john --> 95
tom --> 90
smith --> 85
robert --> 95